//color
$white: #fff;
$gray: #757676;
$grayRight: #D9D9D9;
$accent: #84D6D6;
$accent-sub: #EEF9F8;
// inner-size
$inner: 1080px;
// padding

// font-family
$tsukimi: "Tsukimi Rounded", sans-serif;
// transition time
$ts-time: 0.3s;